<p id="notice"><%= notice %></p>

<p>
  <h1><%= @todo_list.title %></h1>
  <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
    <%= link_to 'Back', todo_lists_path %>
</p>

<br>
<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Completed?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, todo_list_task_path(task.todo_list, task) %></td>
        <td><%= task.completed %></td>
        <td><%= link_to 'Delete', todo_list_task_path(task.todo_list, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if params[:filter_completed] == 'true' %>
    <%= link_to 'Show all', @todo_list %>
<% else %>
    <%= link_to 'Show only uncompleted', todo_list_path(@todo_list, :filter_completed => "true") %>
<% end %>
<%= link_to 'Add New Task', new_todo_list_task_path(@todo_list) %>


<br>
